.container {
  flex: 1.5;
  color: #a4a6b3;
}
.logoContainer {
  padding-top: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  img {
    margin-right: 1rem;
  }
}

.items {
  box-sizing: border-box;
  padding-left: 2rem;
  padding-block: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  border-left: 2px solid inherit;
  position: relative;

  &:hover {
    color: #dde2ff;
    background: rgba(159, 162, 180, 0.08);
    cursor: pointer;
  }
  &:hover::after {
    position: absolute;
    left: 0;
    top: 0%;

    display: block;
    content: "";
    background: silver;
    height: 100%;
    border-left: 2px solid #dde2ff;
  }
}
.link {
  color: inherit;
  text-decoration: none;
}
.icon {
  margin-right: 1rem;
  color: #a4a6b3;
}

.divider {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
